.event-popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .event-popup-box {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    max-width: 80%;
    width: 500px;
  }
  
  .event-popup-box img {
    max-width: 100%;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .event-popup-box h2 {
    margin-top: 0;
  }
  
  .event-popup-box button {
    margin-top: 20px;
  }