.add-event-container {
    max-width: 500px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .add-event-container h2 {
    margin-top: 0;
  }
  
  .add-event-container label {
    display: block;
    margin-bottom: 10px;
  }
  
  .add-event-container input, .add-event-container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
  }
  
  .add-event-container button[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .add-event-container button[type="submit"]:hover {
    background-color: #3e8e41;
  }